    <%- include('../partials/header') %>
    <main>
    <div class="space-y-0"> 
    <%- include('../partials/hero') %>
    <%- include('../partials/stats', { stats: stats }) %>
    <%- include('../partials/commitment', { commitments: commitments }) %>

    
    <%- include('../partials/categories-showcase', { productsByCat: productsByCat }) %>

    <%- include('../partials/process', { processSteps: processSteps }) %>
    <%- include('../partials/testimonials', { testimonials: testimonials }) %>


   

    </main>
    <%- include('../partials/footer') %>
